<ng-container *ngIf="allCards$ | async; let cards">
  <ng-container *ngIf="cards.length > 0">
    <div class="m-2 dashboard">
      <h1>Hello Zakarya ! Are you ready to study ?</h1>
      <h3 *ngIf="onlyFirstCategoryCard$ | async; let onlyFirstCategoryCard">
        Today {{ onlyFirstCategoryCard.length }} cards to study.
      </h3>

      <app-card-list-by-tag
        *ngFor="let cardsByTag of cardsByTag$ | async | keyvalue"
        [cardsByTag]="cardsByTag"
        [cards]="cards"
        class="w-50"
      ></app-card-list-by-tag>
    </div>
  </ng-container>
</ng-container>
